.github
.vscode
.amazonq
package-lock.json
**/.env
**/.embeddings.cache.json
*.tgz
assets
node_modules
test-scripts
vector-db/index*.json
mcp-server/dist
mcp-server/node_modules
mcp-output.log
mcp-server/README.md
mcp-server/LICENSE
mcp-server/package-lock.json
