.env
src/
Makefile
*.tgz
*.ts
!*.d.ts
tsconfig.json
.gitignore
.git/
.github/
node_modules/
npm-debug.log*
.nyc_output/
.vscode/
.embeddings.cache.json
coverage/
tests/
vitest.config.ts
pnpm-*.yaml
**/lyx2md.py